ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
   }  
  li  {
    display: block;
    font-size: x-large;
    padding: 14px 16px;
    float: left;
   }
   
    body {
      margin: 0; 
      overflow-x: hidden; 
      font-family: 'TelAvivBrutalist', Arial, sans-serif;
    }
    
    header {
      background-color: #114800d7;
      height: 15vh;
      display: flex; 
      justify-content: center; 
      align-items: center; 
      width: 100%;
      position: fixed; 
      top: 0;
      z-index: 1;
    }
   
    .li{
    color: white;
    text-decoration:none;
    }
  #logo img{
  width: 10vw; 
  height: auto; 
  margin-top: 20px;
  }
  #video {
    display: block;
    margin: 2% auto; 
    max-width: 100%;
    height: auto;
  }
 
  #pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin: 0; 
    padding: 0;
  }

  #pic img {
    max-width: 100%;
    height: auto;
    margin: 0; 
    display: block; 
  }
  
  #images {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 0 auto; 
    justify-content: center;
    padding-bottom: 2rem; 
  }
  .table-container {
    width: 90vw; 
    margin: auto;
    padding: 4vh;
    background-color: white;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5vw;
  }
  th, td {
    padding: 2vw;
    text-align: center;
    border-bottom: 1px solid #ddd;
    }
  th {
    background-color: #ffcc00;
    color: white;
    font-size: 2vw;
  }
  td {
    background-color: #fafafa;
  }
  .myth {
    font-weight: bold;
    color: #e74c3c;
    font-size: 1.2vw;
  }
  .explanation {
    font-size: 1.1vw;
    color: #555;
  }
  
#footer-content {
  display: flex;
  justify-content: space-around;
  background-color:  #114800d7;
  color: white;
  padding: 2em 1em;
  direction: rtl;
  flex-wrap: wrap;
  height: 22vh;
  margin-bottom: 0;

}
#contact-info a {
  text-decoration: none;
  color: #ddd;
}

#odot{
  position: relative;
  direction: rtl;
  text-align: center;
  color: #444444;
  padding: 5%;
  line-height: 1.6;
  font-family: 'TelAvivBrutalist', Arial, sans-serif;
  margin-top: 3em;
  }
  .background {
  position: relative;
  min-height: 100vh;
  padding-top: 15vh; 
  }
  .background::before {
    content: '';
    background-image: url('images/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    z-index: -1; 
  }
  #text{
    font-size: x-large;
    font-family: 'TelAvivBrutalist', Arial, sans-serif;
    text-align: center;
    margin-top: 4%;
    }
    .order-form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: 35vw;
      margin: 2em auto;
      padding: 2em;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      direction: rtl;
      margin-top: 10%;
      }
      .order-form h2 {
      text-align: center;
      color: #2f4f4f;
      }
      .order-form label {
      font-weight: bold;
      margin-bottom: 0.5em;
      color: #444444;
      }
      .order-form input, 
      .order-form select, 
      .order-form textarea {
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: 'TelAvivBrutalist', Arial, sans-serif;
      }
      .order-form button {
      background-color: #315b5b;
      color: white;
      padding: 0.75em;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      font-family: 'TelAvivBrutalist', Arial, sans-serif;
     }
     .snifim {
      position: relative;
      direction: rtl;
      text-align: center;
      color: #444444;
      padding: 3%;
      line-height: 1.6;
      font-family: 'TelAvivBrutalist', Arial, sans-serif;
      margin-top: 3em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      gap: 1rem; 
      justify-content: space-between; 
      }
      .snifim > div {
        flex: 1 1 calc(20% - 1rem); 
        box-sizing: border-box;
        padding: 1rem;
        text-align: center; 
        font-family: 'TelAvivBrutalist', Arial, sans-serif;
        }
        #tafrit {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; 
          margin-top: 10%;
          }
       
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  width: 28vw; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
  text-align: center;
  }
  .item:hover {
  transform: scale(1.05);
  }
  .item>img {
  max-width: 100%;
  height: auto;
  padding: 10%;
  }   
  .button
  {
  background-color: aliceblue; 
  color: black; 
  text-decoration: none;
  padding: 1vh 2vw; 
  border-radius: 0.5vw; 
  font-weight: bold;
  text-align: center; 
  font-size: 2vh; 
  margin-bottom: 2vh;
  font-family: 'TelAvivBrutalist', Arial, sans-serif;
}
.food{
  font-weight: bold;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top:2vh; 
  left: 2vw; 
  z-index: 2;
  padding: 5%;
}
@font-face {
  font-family: 'TelAvivBrutalist';
  src: url('fonts/TelAviv-BrutalistRegular.woff2') format('woff2'),
       url('fonts/TelAviv-BrutalistRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .item {
    transition: none;
  }
   .snifim {
    flex-direction: column; 
    gap: 1.5rem; 
 }
 
}
@media (max-width: 786px) {
  .menu-icon {
      display: block;
  }
  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 25px;
      width: 100%;
      padding: 10px 0;
      color: #444444;
   
  }
    .menu.active {
      display: flex;
  }
  .menu li {
      display: block;
      width: 100%;
      text-align: center;
      padding: 15px;
  }
  #video {
    max-width: 90%;
    height: auto; 
}
#images img {
  max-width: 80%; 
  height: auto; 
}
body{
  padding-top: 15vh;
}
  ul {
    background-color: #114800d7;
      position: fixed;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      right: 0; 
      width: 15vw;
      display: none; 
      font-size: 2rem; 
  }
  .food {
    font-size: 10px;
  }
  ul.open {
      display: flex; 
  }
  li {
      width: 80%; 
      text-align: center;
      padding: 15px 0;
  }
}